html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1555848962-6e79363ec58f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1433&q=80");
    background-size: cover;
    background-position: top left;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

header a {
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
}

.scrollText {
    margin: 30vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}
#introduction {
    background-image: url("https://images.unsplash.com/photo-1494172961521-33799ddd43a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
}
.alignRight {
    float: right;
    margin: 0 0 1rem 1rem;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 50px;
    box-sizing: border-box;
}
.redBg {
    background: #b61010;
    color: #fff;
}
.greenBg {
    background: #588002;
    color: #fff;
}
.big {
    text-align: center;
    font-size: 4rem;
    display: block;
    clear: both;
}
.small {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
}